
# /log/*
/tmp/*
/images/*
.env

/result/*
!/result/main_ubuntu_AlexNet_v1.nbconvert.ipynb
!/result/main_ubuntu_AlexNet_v2_drop.nbconvert.ipynb
!/result/main_ubuntu_lenet_v2_BN.nbconvert.ipynb

/dataset_npz/*

# cache
.cache
.config
.ipython
.python_history
.bash_history
.jupyter
.nv
tmp
__pycache__


# test file
test.*

app/AlexNet_model_max_weight.pth
