# jupyterコマンドを使う
notebook

numpy
torch
torchvision
scikit-image        # skimage
pillow              # PIL
matplotlib
scikit-learn
albumentations
tqdm
seaborn


japanize-matplotlib
torchviz
torchinfo
